body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #3086db, #4150d413);
  color: #141313;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 200px;
  font-size: 16px;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #25cce2;
}

#weatherResult {
  margin-top: 30px;
  background-color:#25cce2 ;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
}

#weatherResult img {
  width: 80px;
  height: 80px;
}